# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS and IDE
.DS_Store
.idea/
.vscode/

